@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Ubuntu:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
body{
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    height: 80px;

}
nav{
    height: 40px;
    color: rgb(26, 21, 31);
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    display: flex;
    /* justify-content: center; */
    font-size: 32px;
    padding:5px 20px;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.game{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 2px black solid;
    font-size: 8vw;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.box:hover{
    background-color: #9fa4c452;
    cursor: crosshair;

}

.gameInfo{
    margin: 0px 35px;
    font-family: 'Barlow', sans-serif;
    font-size: 1vw;

}

.info{
    font-size: 15px;
}

.imgbox img{
    margin: 10px;
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}


#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    font-weight: bolder;
}